.app-container {
  display: flex;
  height: 100vh;
}

.sidebar-container {
  background-color: var(--sidebar-primary-bg-color);
  padding: 1rem;
}

.main-content {
  flex: 1;
  padding: 1rem;
  background-color: var(--darkmode-bg-color);
}

.content {
  margin-top: 1rem;
}
