.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1rem;
    color: var(--text-color);
    width: 240px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
    background-color: var(--darkmode-surface-color);
}

.closed {
    width: 60px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
    margin: 0;
    padding: 0;
}
