
.chevronContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.biggerChevron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.biggerChevron .line {
    height: 4px;
    width: 20px;
    margin: 4px 0;
    background-color: #ffffff;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.smallerChevron .line {
    height: 3px;
    width: 12px;
    margin: 4px 0;
    background-color: #ffffff;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.smallerChevron .line:nth-child(1) {
    transform: rotate(45deg);
}

.smallerChevron .line:nth-child(2) {
       transform: rotate(-45deg);
}

.biggerChevron .line:nth-child(1) {
    transform: rotate(45deg);
}

.biggerChevron .line:nth-child(2) {
       transform: rotate(-45deg);
}

.biggerChevron.open .line:nth-child(1) {
    transform: rotate(45deg) translate(10px, 12px);
}

.biggerChevron.open .line:nth-child(2) {
    opacity: 0;
}

.smallerChevron.open .line:nth-child(1) {
    transform: rotate(45deg) translate(10px, 12px);
}

.smallerChevron.open .line:nth-child(2) {
    opacity: 0;
}
